  <div class="container mt-5">
      <h1 class="text-center">รายชื่อสมาชิกในกลุ่ม</h1>
      <div class="row mt-5 text-center">
          <div class="col">
              <div class="card mx-auto card border-primary" style="width: 25rem;">
                  <img src="assets/teamDuo/pang.png" class="card-img-top" alt="...">
                  <div class="card-body text-white">
                      <h5 class="card-title">นางสาวเกตน์สิรี มีนาค</h5>
                      <p class="card-text">เลขที่ 7 ระดับชั้น ปวส.1/5</p>
                      <a >แป้ง</a>
                  </div>
              </div>
          </div>
    
          
          <div class="col">
              <div class="card mx-auto card border-white" style="width: 25rem;">
                  <img src="assets/teamDuo/best.png" class="card-img-top" alt="...">
                  <div class="card-body text-white">
                      <h5 class="card-title">นางสาวดลยา ดวงพรม</h5>
                      <p class="card-text">เลขที่ 11 ระดับชั้น ปวส.1/5</p>
                      <a >เบส</a>
                  </div>
              </div>
          </div>
    
          <div class="col">
            <div class="card mx-auto card border-white" style="width: 25rem;">
                <img src="assets/teamDuo/mail.png" class="card-img-top" alt="...">
                <div class="card-body text-white">
                    <h5 class="card-title">นายศราวุฒิ เชยนาม</h5>
                    <p class="card-text">เลขที่ 1 ระดับชั้น ปวส.1/4</p>
                    <a >เมล</a>
                </div>
            </div>
        </div>