<html lang="en">
<header>
    <h1 class="center-text text-white">Heart Rate Moniter Smart Functions</h1>
</header>
<div class="me-5 text-center mt-3 ">
    <h3>อุปกรณ์ IoT</h3>
    <label class="center-text">เครื่องวัดการเต้นของหัวใจสมาร์ทฟังชันก์</label>
</div>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ตัวอย่างการจัดวางรูปและข้อมูล</title>
    <style>
        .container {
            display: flex; /* ทำให้ container เป็น flex container */
        }
        .image {
            flex: 1; /* ให้รูปภาพยืดเต็มพื้นที่ที่เหลือ */
        }   
        .content {
            flex: 2; /* ให้ส่วนของเนื้อหายืดเต็มพื้นที่ที่เหลือ */
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="image">
            <img src="assets/อุปกรณ์/Esp32(2).png" alt="รูปภาพ">
        </div>
        <div class="content">
            <h2>ESP32</h2>
            <p>ESP32 คือ ชิปไมโครคอนโทรลเลอร์ขนาดเล็กแต่ทรงพลัง ที่มาพร้อมกับความสามารถในการเชื่อมต่อ Wi-Fi และ Bluetooth ในตัว 
                ทำให้เป็นตัวเลือกที่ได้รับความนิยมอย่างมากสำหรับการพัฒนาอุปกรณ์ IoT (Internet of Things) หรืออุปกรณ์ที่สามารถเชื่อมต่ออินเทอร์เน็ตได้หลากหลายประเภท</p>
        </div>
    </div>

    <div class="container">
        <div class="image">
            <img src="assets/อุปกรณ์/relay.png" alt="รูปภาพ">
        </div>
        <div class="content">
            <h2>Relay</h2>
            <p>รีเลย์ คือ อุปกรณ์อิเล็กทรอนิกส์ที่ใช้กันอย่างแพร่หลายในวงจรควบคุมอัตโนมัติ ทำหน้าที่เปรียบเสมือนสวิตช์ไฟ 
               ที่ใช้แรงดันไฟฟ้าในการเปิดและปิดอุปกรณ์ไฟฟ้าเพื่อควบคุมวงจรต่างๆ</p>
        </div>
    </div>

    <div class="container">
        <div class="image">
          <img src="assets/อุปกรณ์/heart sensor.png" alt="รูปภาพ">
        </div>
        <div class="content">
            <h2>Pulse Heart Rate Sensor Amped</h2>
            <p>คือ ใช้ตรวจวัดค่าของอัตราการเต้นของหัวใจเป็นจำนวนครั้งต่อนาที (Beat Per Minute: BPM) ผ่านการใช้นิ้วสัมผัสกับตัวเซ็นเซอร์ 
               เพื่อใช้ทำโปรเจ็คด้านสุขภาพ โดยใช้ร่วมกับโมดูลตัวอื่นๆ</p>
        </div>
    </div>   

    <div class="container">
        <div class="image">
          <img src="assets/อุปกรณ์/buzzer.png" alt="รูปภาพ">
        </div>
        <div class="content">
            <h2>Buzzer</h2>
            <p>เป็นอุปกรณ์สร้างเสียงอิเล็กทรอนิกส์ที่มีโครงสร้างแบบบูรณาการ BAI ซึ่งใช้แหล่งจ่ายไฟแรงดันไฟฟ้า DC DU 
               และใช้กันอย่างแพร่หลายเป็นอุปกรณ์เสียงในผลิตภัณฑ์อิเล็กทรอนิกส์เช่นเครื่องนับเครื่องพิมพ์ DAO เครื่องถ่ายเอกสารนาฬิกาปลุกของเล่นอิเล็กทรอนิกส์อุปกรณ์อิเล็กทรอนิกส์รถยนต์โทรศัพท์ 
               เครื่องจับเวลาเป็นต้นกริ่งมีสองประเภท ได้แก่ กริ่งแบบเพียโซอิเล็กทริกและกริ่งแม่เหล็กไฟฟ้า</p>
        </div>
    </div>  

    <div class="container">
        <div class="image">
          <img src="assets/อุปกรณ์/oled.png" alt="รูปภาพ">
        </div>
        <div class="content">
            <h2>OLED</h2>
            <p>คือ จอภาพที่มีลักษณะคล้ายแผ่นฟิล์ม ซึ่งมีส่วนประกอบเป็นสารอินทรีย์ที่สามารถเปล่งแสงเองได้เมื่อได้รับพลังงานไฟฟ้า เรียกว่ากระบวนการอิเล็คโทรลูมิเนเซนส์ (Electroluminescence) 
               โดยที่ไม่ต้องพึ่งพาแสง Backlight และจะไม่มีการเปล่งแสดงในบริเวณที่เป็นภาพสีดำ ส่งผลให้สีดำนั้นดำสนิท อีกทั้งยังช่วยพลังงานด้วย</p>
        </div>
    </div>
    
    <div class="container ">
        <div class="image">
            <img src="assets/อุปกรณ์/led.png" alt="รูปภาพ">
        </div>
        <div class="content">
            <h2>LED</h2>
            <p>LED คือไดโอดเปล่งแสง ย่อมาจากคำว่า(Light-Emitting Diode) ซึ่งสามารถเปล่งแสงออกมาได้แสงที่เปล่งออกมาประกอบด้วยคลื่นความถี่เดียวและ เฟสต่อเนื่องกัน ซึ่งต่างกับแสงธรรมดาที่ตาคนมองเห็น 
                โดยหลอด LED สามารถเปล่งแสงได้เมื่อจ่ายกระแสไฟฟ้าเข้าเพียงเล็กน้อยเท่านั้น และประสิทธิภาพในการให้แสงสว่างก็ยังดีกว่าหลอดไฟขนาดเล็กทั่วๆ ไป</p>
            </div>
        </div>
        